JsonSharp/bin/
JsonSharp/obj/
Standard/bin/
Standard/obj/
Server/bin/
Server/obj/
Client/bin/
Client/obj/
ClientCLI/bin/
ClientCLI/obj/
/workspace/
/client_config.json
/server_config.json
Tester/bin/
Tester/obj/
Tester/Program.cs